*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #353434;

}
.card{
  background-color: rgb(237, 124, 124);
  border-radius: 0%.5rem;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card-img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.Nav{
  background-color: white;
  color: black;
  padding: 1rem;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 3px solid rgb(237, 124, 124);
}
h1{
  font-size: 1.5rem;
  font-weight: bold;
}